$fieldsets-background-colors-support-extra-colors-palette: () !default;
$fieldsets-background-colors-support-skip-colors-palette: null !default;

$legend-background-colors-support-parser: (
    color: 'background-inner-color'
) !default;